html
    head
        link(rel="stylesheet", href="../../styles/css/accueilMadera.css")
        script(src="https://code.jquery.com/jquery-3.3.1.js")
    body
        main
            #carousel
                .hideLeft#hideLeft
                    img(src="https://s16.postimg.org/vklrwoxtx/cover9.jpg", alt="")
                .prevLeftSecond#prevLeftSecond
                    img(src="https://s16.postimg.org/cgsggckzp/cover8.jpg", alt="")
                .prev#prev
                    img(src="https://s16.postimg.org/emmrauog5/cover7.jpg", alt="")
                .selected#selected
                    img(src="https://s16.postimg.org/9drqcz611/cover1.jpg", alt="")
                .next#next
                    img(src="https://s16.postimg.org/pnhwfvgp1/cover6.jpg", alt="")
                .nextRightSecond#nextRightSecond
                    img(src="https://s16.postimg.org/edp6kxbnp/cover4.jpg", alt="")
                .hideRight#hideRight
                    img(src="https://s16.postimg.org/fij8qay4l/cover3.jpg", alt="")
        script(src="../../scripts/accueilMadera.js")