html
    head
        link(rel="stylesheet" type="text/css" href="../../styles/css/bootstrap/bootstrap.css")
        link(rel="stylesheet", href="../../styles/css/choixGamme.css")
        meta(charset="utf-8")
        title Choix gammes
    body
        h2#title-choix-gamme.text-center.text-black Sélectionnez la gamme de votre choix
        #container-gamme
        #container-button-gamme
            button(onclick='continueSetGamme()')#button-continue-gamme.btn.btn-dark.mx-auto.btn-lg Continuer
        script(src="https://code.jquery.com/jquery-3.3.1.js")
        script(src="../../scripts/choixGamme.js")