html
    head
        title Menu Global
        link(rel="stylesheet" type="text/css" href="../../styles/css/bootstrap/bootstrap.css")
        link(rel="stylesheet", href="../../styles/css/menu_global.css")
        meta(charset="utf-8")
    body
        .container-all
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
                .collapse.navbar-collapse.justify-content-md-center
                    ul.navbar-nav
                        li.nav-item.active
                        a(href="#").nav-link Accueil 
                            span(current).sr-only
                        li.nav-item
                            a(href="accueilMadera.html").nav-link Créer un devis
                        li.nav-item
                            a(href="#").nav-link Gérer les stocks
                        li.nav-item
                            a(href="#").nav-link Avancement des devis
                        li.nav-item
                            a(href="#").nav-link Commerciaux
                        li.nav-item
                            a(href="Login.html").nav-link Deconnexion
            .row.h-75.w-50.d-flex.flex-column.justify-content-center.mx-auto
                button(type="button").btn.btn-info.btn-lg.btn-block
                    a(href="accueilMadera.html")#link-devis CREER UN DEVIS
                button(type="button").btn.btn-info.btn-lg.btn-block
                    a(href="#")#link-devis GERER MES DEVIS